hr {
    clear: both;
    display: block;
}

.deck-container {
    font-size: 170%;
}

.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    font-family: monospace;
    color: orange
}

section.slide h1 {
    font-size: 4em;
    color: #f0a;
    text-shadow: 0 0 50px #f0a, 0 0 4px #fff;
}

section.slide h1 p.small {
    font-size: 40%;
    color: white;
    text-shadow: 0 0 50px #fff, 0 0 2px #fff;
}

section.slide h2 {
    margin: 0;
    padding: 0;
}

section.slide h3 {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.6em;
    text-shadow: 0 0 14px #fff, 0 0 1.8px #fff;
}

section.slide h3 small {
    font-size: 60%;
}

section.slide ul {
    margin-top: 2%;
    margin-left: 6%;
    font-size: 180%;
}

section.slide ul li {
    padding: 0.04em;
}

section.slide dl {
    font-size: 150%;
}

section.slide dl dt {
    padding: 0.04em;
    margin-top: 0.4em;
    color: orange;
}

section.slide dl dd {
    padding: 0.04em;
    margin-top: 0.2em;
    margin-left: 1em;
}

section.slide strong {
    font-family: monospace;
    color: #f0a;
}

section.slide span.mono {
    font-family: monospace;
}

section pre.sh_javascript,section pre.sh_sh {
    padding: 0.4em;
    font-size: 60%;
    height: 100%;
    overflow: auto;
}

section pre.full {
    font-size: 60%;
    height: 100%;
    overflow: auto;
}

section.slide .left {
    width: 48%;
    float: left;
    margin-right: 0;
}

section.slide .right {
    width: 48%;
    float: right;
    margin-left: 0;
}

section.slide iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section.slide table,
section.slide tr,
section.slide th,
section.slide td {
    border: solid 4px #ccc;
    font-size: 1.1em;
    color: white;
    padding: 0.4em 1em;
}

section.slide table {
    width: 100%;
    margin-top: 1em;
    padding: 0.2em;
}

section.slide tr {
    padding: 0.2em;
    text-align: center;
}

.orange {
    color: orange;
}

#icon {
    font-family: Chalkboard, comic sans MS;
    color: white;
    font-size: 1000%;
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
}

/* over write sh_javascript */
pre.sh_sourceCode {
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: normal;
}

/* language keywords */
pre.sh_sourceCode .sh_keyword { color: orange; }
/* strings and chars */
pre.sh_sourceCode .sh_string { color: lime; font-family: monospace; font-weight: bold;}
/* comments */
pre.sh_sourceCode .sh_comment { color: fuchsia; font-style: italic; }
/* literal numbers */
pre.sh_sourceCode .sh_number { color: yellow; }
/* e.g., <, >, + */
pre.sh_sourceCode .sh_symbol { color: white; }
/* function calls and declarations */
pre.sh_sourceCode .sh_function { color: aqua; font-weight: normal; }
/* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_cbracket { color: white; }

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: darkblue; }
pre.sh_sourceCode .sh_predef_func { color: darkblue; font-weight: bold; }
