.deck-container {
    font-size: 170%;
}

.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    font-family: monospace;
    color: orange
}

section.slide h1 {
    font-size: 4em;
    color: #f0a;
    text-shadow: 0 0 50px #f0a, 0 0 3px #fff;
}

section.slide h1 p.small {
    font-size: 40%;
    color: white;
    text-shadow: 0 0 50px #fff, 0 0 2px #fff;
}

section.slide h2 {
    margin: 0;
    padding: 0;
}

section.slide h3 {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-shadow: 0 0 14px #fff, 0 0 1.8px #fff;
}

section.slide strong {
    font-family: monospace;
    color: #f0a;
}

section.slide span.mono {
    font-family: monospace;
}

pre.sh_javascript, pre.sh_sh {
    font-size: 60%;
    overflow: scroll;
    height: 29em;
}

pre.full {
    margin-bottom: 0.4em;
}

.slide .left {
    width: 42%;
    float: left;
}

.slide .right {
    width: 42%;
    float: right;
}


#icon {
    font-family: Chalkboard, comic sans MS;
    color: white;
    font-size: 1000%;
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
}

/* over write sh_javascript */
pre.sh_sourceCode {
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: normal;
}

/* language keywords */
pre.sh_sourceCode .sh_keyword { color: orange; }
/* strings and chars */
pre.sh_sourceCode .sh_string { color: lime; font-family: monospace; font-weight: bold;}
/* comments */
pre.sh_sourceCode .sh_comment { color: fuchsia; font-style: italic; }
/* literal numbers */
pre.sh_sourceCode .sh_number { color: yellow; }
/* e.g., <, >, + */
pre.sh_sourceCode .sh_symbol { color: white; }
/* function calls and declarations */
pre.sh_sourceCode .sh_function { color: aqua; font-weight: normal; }
/* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_cbracket { color: white; }

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: darkblue; }
pre.sh_sourceCode .sh_predef_func { color: darkblue; font-weight: bold; }